[Unit]
Description=cftun-%i
After=network.target
Documentation="https://github.com/flpydsk/cloudflared-configs.git"

[Service]
EnvironmentFile=/etc/cftun/%i.conf
Environment="NO_AUTOUPDATE=true"
ExecStart=/usr/bin/cloudflared --label %i-%H tunnel run
TimeoutStartSec=0
Type=notify
Restart=on-failure
RestartSec=5s
DynamicUser=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectClock=true
ProtectHostname=true
ProtectHome=true
ProtectSystem=strict
ProtectProc=invisible
ProcSubset=all
PrivateMounts=true
PrivateDevices=true
PrivateTmp=true
UMask=266
RemoveIPC=true
NoNewPrivileges=true
LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallArchitectures=native
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictSUIDSGID=true
RestrictRealtime=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
